<% provide(:title, 'About') %>

<h1>About this site</h1>
<br>
<div class='about_text'>
	<p>This is Rickard's site! If you are not Rickard or his brother or fiancé you should leave. </p>
	<p>Now. </p>
	<p>Please... </p>
</div>